/*text degistirme classlari*/
.text-center{
    text-align: center;
}
.heading-small{
    font-size: 1.25rem;
}
.heading-medium{
    font-size: 1.5rem;
}
.heading-big{
    font-size: 1.75rem;
}


/*Buttons*/
.btn{
    margin-top: 1.25rem;
    padding: 0.8rem 3rem;
    border: 1px solid #d31d10;
    border-radius: 0.7rem;
    letter-spacing: 1px;
}
.btn-primary{
    background: #d31d10;
}
.btn-primary:hover{
    background: #fff;
    border: 1px solid #d31d10;
    color: #d31d10;
}
.btn-dark{
    background: #333;
}
.btn-dark:hover{
    background: #333;
    border: 1px solid #d31d10;
    color: #333;
}
.btn-block{
    width: 100%;
    text-align: center;
}

/* Colours*/
.bg-dark-red{
    background: #6b0700;
}

.bg-light-red{
    background: #d31d10;
}

/*Container*/
.container{
    max-width: 1100px;
    margin: 0 auto;
}

/*forms*/

.form-group{
    padding: 0.25rem 0 ;
}
.form-group label{
    display: block;
}
.form-control{
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    resize: none;
    border-radius: 4px;
}