#navbar{
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: hidden;
    height: 100px;
}
#doing .items{
    flex-direction: column;
}
#doing .items .item{
    width: 100%;
}

.news .lecture{
    flex-direction: column;
}
